.jumbotron img{
    width: 100%;
    height: 100%;
}
.pop{
    text-align: center;
}
body{
    background-image: url("img/olives-4636996_1920.jpg");
}
.card-title{
    text-align: center;
}
